body {
    margin: 0;
    padding: 0;
    background-color: rgb(254, 252, 246);
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.portfolio-logo {
    margin-left: 8%;
}

.logo {
    width: 30%;
}

.nav-links {
    display: flex;
    margin-right: 8%; 
    width: 18%; 
}

.nav-links ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100%;
}

.nav-links li {
    padding: 6%;
}

.nav-links a {
    font-family: 'Poppins', sans-serif;
    color: #FA9C5D;
    text-decoration: none;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-content h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 6em;
    margin-bottom: 3%;
}

.header-gradient {
    background: -webkit-linear-gradient(107deg, #4a59c0, #9998e0 17%, #ffa188 44%, #fb9f35 82%, #ffd7ae);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-content p {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    font-weight: 400;
}

.about-me-container {
    display: flex;
    flex-direction: column;
}

.me-snippet-container {
    display: flex;
}

.about-me-title {
    display: flex;
}

.purple-flower {
    width: 2%;
    height: 50px;
}

.about-me-title h2 {
    font-family: 'Raleway', sans-serif; 
}

.about-me-content h1, p {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}