body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(254, 252, 246);
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.portfolio-logo {
    margin-left: 8%;
}

.logo {
    width: 30%;
}

.nav-links {
    display: flex;
    margin-right: 8%; 
    flex-basis: 18%;
    
}

.nav-links ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-basis: 100%;
}

.nav-links li {
    padding: 6%;
}

.nav-links a {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    color: #ffa4a4;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: 2px underline; 
}

.hamburger {   /*displayed only in mobile versions*/
    display: none;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}   

.header-content h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 6em;
    margin-bottom: 3%;
    padding-top: 150px;
}

.header-gradient {
    background: -webkit-linear-gradient(10deg, #a5f3cf, #7a9eeb 17%, #f5bcbb 44%, #ee8a8a 82%, #ffc670);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-content p {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    font-weight: 400;
    padding-left: 5px;
    padding-bottom: 200px;
}

.about-me-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    padding-left: 25%;
}

.about-me-title {
    padding-bottom: 2%;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}

.me-snippet-container {
    display: flex;
}

.selfie {
    height: 400px;
    object-fit: scale-down;
    border-radius: 10px;
}

.about-me-content {
    flex: 0 0 36%; 
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    line-height: 2;
    text-align: justify;

    margin-left: 5%; 
    padding-bottom: 10%;   
}

.flower {
    color: #ee8a8a;  
}

.tech-stack-container {
    display: flex;
    padding-left: 25%;
    padding-bottom: 0%;
}

.skills-container h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-family: 'Poppins', sans-serif;
}

.skills li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;

    padding: 30px 0;
    margin: 20px auto 50px auto;
}

.skills img {
    width: 30%;
}

.projects-container {
    display: flex;
    flex-direction: column;

    padding-left: 25%;
    padding-bottom: 7%;
}

.projects-title h2{
    font-family: 'Raleway', sans-serif;
    font-size: 1.9rem;

    padding-bottom: 2%;
}

.projects-content {
    display: flex;
    padding-bottom: 5%;
}

.project-content-image img{
    width: 80%;
    border-radius: 10px;
}

.project-content-summary {
    flex: 0 0 30%;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.project-content-summary h3 {
    margin-top: 1%;
    font-size: 1.5rem;
}

.project-content-summary p {
    line-height: 2;
    font-size: 1em;
}

.project-content-summary button {
    width: 25%;
    height: 35px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1em;

    margin-right: 2%;


    border: none;
    border-radius: 6px;
    color: white;
    background-color: #f5bcbb;
}

.project-content-summary button:hover {
    text-decoration: underline 2px;
}

.contact-me-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 7%;

    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.contact-me-content {
    flex: 0 0 42%;
}

.contact-me-content h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
}

.contact-me-content p {
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 3%;
}

button.email-button {
    margin-left: 37%;
}

.contact-me-content button {
    font-size: 1.2em;
    background-color: #f5bcbb;
    border: none;
    border-radius: 10px;

    width: 25%;
    height: 55px;
}

.contact-me-content button:hover { 
    background-color:rgb(229, 143, 143);
}

.contact-me-content a {
    color: white;
    text-decoration: none;
}

.contact-me-content a:hover {
    text-decoration: underline 3px;   
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container h2 {
    font-size: 1em;
}

/*media queries*/

@media only screen and (max-width: 425px) {
    .header-container {
        display: flex;
        justify-content: center;
        align-items: center;   
    }

    .header-content h1{
        font-size: 3.29rem;
    }

    .header-content p {
        font-size: 27px;
    }
}














