body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(254, 252, 246);
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.portfolio-logo {
    margin-left: 8%;
}

.logo {
    width: 30%;
}

.nav-links {
    display: flex;
    margin-right: 8%; 
    flex-basis: 18%;
    
}

.nav-links ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-basis: 100%;
}

.nav-links li {
    padding: 6%;
}

.nav-links a {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    color: #ffa4a4;
    text-decoration: none;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 6em;
    margin-bottom: 3%;
    padding-top: 150px;
}

.header-gradient {
    background: -webkit-linear-gradient(10deg, #a5f3cf, #7a9eeb 17%, #f5bcbb 44%, #ee8a8a 82%, #ffc670);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-content p {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    font-weight: 400;
    padding-left: 5px;
    padding-bottom: 200px;
}

.about-me-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    padding-left: 25%;
}

.about-me-title {
    padding-bottom: 2%;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}

.me-snippet-container {
    display: flex;
}

.selfie {
    height: 400px;
    object-fit: scale-down;
    border-radius: 10px;
}

.about-me-content {
    flex: 0 0 28%;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: justify;

    margin-left: 5%; 
    padding-bottom: 15%;

}

.flower {
    color: #ee8a8a;  
}

.projects-container {
    display: flex;
    flex-direction: column;

    padding-left: 25%;
    padding-bottom: 10%;
}

.projects-title h2{
    font-family: 'Raleway', sans-serif;
    font-size: 1.9rem;

    padding-bottom: 2%;
}

.projects-content {
    display: flex;
    padding-bottom: 5%;
}

.project-content-image img{
    width: 80%;
    border-radius: 10px;
}

.project-content-summary {
    flex: 0 0 30%;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.project-content-summary h3 {
    font-size: 1.3rem;
}

.project-content-summary p {
    line-height: 2;
}

.project-content-summary button {
    width: 25%;
    height: 35px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: .9em;

    margin-right: 2%;


    border: none;
    color: white;
    background-color: #f5bcbb;
}

.contact-me-container {
    display: flex;
    padding-left: 25%;

    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.contact-me-content h2 {
}














